@using NotFake.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_StandAlone.cshtml";
}

<section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="col-12 text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-2">Login</h2>
          </div>
          <form autocomplete="off" method="post" asp-controller="Auth" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <div class="form-group">
                    <label asp-for="Email" class="col-form-label text-white">Email</label>
                    <div class="input-group input-group__with-icon">
                      <input type="email" asp-for="Email" class="form-control mr-0 mb-3 mb-sm-0" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email address...">
                      @if(ViewData.ModelState.Keys.Contains("Email"))
                      {
                        <div class="icon-content" asp-validation-for="Email" data-toggle="tooltip" data-html="true" title='@Utility.ValidationErrorsTooltip(ViewData.ModelState["Email"].Errors)'>
                          <i class="fas fa-exclamation text-danger"></i>
                        </div>
                      }
                  </div>
                </div>
                <div class="form-group">
                  <label asp-for="Password" class="col-form-label text-white">Password</label>
                  <div class="input-group input-group__with-icon">
                    <input type="password" asp-for="Password" class="form-control mr-0 mb-3 mb-sm-0" id="password" aria-describedby="passwordHelp" placeholder="Please input password...">
                    @if(ViewData.ModelState.Keys.Contains("Password"))
                    {
                      <div class="icon-content" asp-validation-for="Password" data-html="true" data-toggle="tooltip" title='@Utility.ValidationErrorsTooltip(ViewData.ModelState["Password"].Errors)'>
                        <i class="fas fa-exclamation text-danger"></i>
                      </div>
                    }
                  </div>
                </div>
            <button type="submit" class="btn btn-primary mt-2 mx-auto btn-block">Login</button>
            <p class="text-danger">@ViewBag.LoginError</p>
          </form>

        </div>
      </div>
    </div>
</section>