/*
=========================
        General
=========================
*/
input.form-control {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    height: auto;
    font-family: 'Varela Round';
    letter-spacing: 0.15rem;
    border: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 0 !important;
}

.navbar input.form-control {
    border: 1px solid #fff;
}

input.form-control:focus {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1030;
}

.static-background {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../../../images/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.input-group__with-icon {
    position: relative;
}

.input-group__with-icon .icon-content {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 1.25rem;
    z-index: 9;
    display: block;
}

.navbar .input-group__with-icon .icon-content {
    padding: calc(0.375rem + 1px);
    width: calc(2.25rem + 2px);
    z-index: 9;
    box-shadow: none !important;
}

.navbar .input-group__with-icon .icon-content+input {
    width: calc(2.25rem + 2px);
    opacity: 0;
    transition: all 600ms ease-in-out;
}

.navbar .input-group__with-icon .icon-content.active+input {
    width: 15rem;
    opacity: 1;
    transition: all 600ms ease-in-out;
}

.navbar-nav .dropdown-menu.show {
    border: none;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 0;
    transition: all 400ms ease-in-out;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, .7)
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #64a19d;
}

@media(min-width: 992px) {

    #mainNav.navbar-shrink .dropdown-menu {
        background-color: rgba(255, 255, 255, .9);
    }

    #mainNav.navbar-shrink .dropdown-item {
        color: #141414;
    }

    #mainNav.navbar-shrink .dropdown-item:hover {
        color: #fff;
    }
}

.float-navigation {
    position: fixed;
    z-index: 999;
    top: 50%;
    animation: slice 700ms linear infinite forwards;
}

.float-navigation.left {
    left: 10rem;
}

.float-navigation.right {
    right: 10rem;
}

.float-navigation__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@keyframes slice {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

/*
=========================
        Slick
=========================
*/

.slick-carousel {
    padding: 2.5rem 5rem;
    position: relative;
    max-height: 350px;
}

.slick-carousel .slick-slide {
    padding: .5rem;
}

.slick-carousel .slick-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    top: 3rem;
    bottom: 3rem;
    width: 3rem;
    background: rgba(0, 0, 0, .2);
    color: #64a19d;
    border: none;
    outline: none;
}

.slick-carousel .slick-arrow:hover {
    background-color: #64a19d;
    color: #fff;
}

.slick-carousel .slick-arrow.slic-prev {
    left: 0;
}

.slick-carousel .slick-arrow.slic-next {
    right: 0;
}

.slick-carousel__item-wrapper {
    transition: all 500ms ease-in-out;
    background-color: rgba(0, 0, 0, .3);
}

.slick-carousel__item-wrapper:hover {
    /* transform: scale(1.2); */
    transition: all 500ms ease-in-out;
}

.slick-carousel__item-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
=========================
        Loader
=========================
*/
.loader {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: -1;
    border: .375rem solid #f3f3f3;
    /* Light grey */
    border-top: .375rem solid #64a19d;
    /* Blue */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
=========================
        Home - Index
=========================
*/

.film-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.film-item__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 400ms ease-in-out;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.film-item__description:hover {
    opacity: 1;
}

.film-item__description a {
    padding: .5rem;
}

.film-item__description button {
    background-color: rgba(100, 161, 157, .5);
    padding-top: .625rem !important;
    padding-bottom: .625rem !important;
    border: none !important;
    width: 100%;
    border-radius: 0px;
}

/*
=========================
        Partial - FilmDetails
=========================
*/

.film-details {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.film-details .film-details__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.film-details .film-details__content {
    padding: .5rem;
    flex-grow: 1;
}

.film-description-item {
    position: relative;
}

.film-description-item__decorator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    transition: height 300ms ease-in-out;
    background-color: #64a19d;
}

.film-description-item.active .film-description-item__decorator {
    height: .2rem;
}

/*
=========================
        Film - Index
=========================
*/

.main-film-section__layout {
    width: 100%;
    position: relative;
}

.main-film-section__layout>div {
    transition: all 400ms ease-in-out;
}

.main-film-section__video-wrapper {
    height: calc(100vh - 68px);
    width: 100%;
    overflow-y: auto;
}

.main-film-section__video-wrapper.video-shirk {
    width: 70%;
}

.main-film-section__video {
    width: 100%;
    height: 60%;
    background-color: #000000;
}

.main-film-section__chat-wrapper {
    height: calc(100vh - 68px);
    width: 30%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 68px;
    right: -30%;
    bottom: 0;
    padding-left: .5rem;
}

.main-film-section__chat-wrapper .nav-hide {
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.main-film-section__chat-wrapper .nav-hide:hover {
    color: #64a19d;
}

.main-film-section__chat-wrapper.chat-show {
    right: 0%;
}

.main-film-section__chat-wrapper .tab-content {
    flex-grow: 1;
    height: calc(100% - 42px);
}
.main-film-section__chat-wrapper .tab-content .tab-content-wrapper {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .2);
}

.main-film-section__chat-wrapper .tab-content .tab-pane.active {
    display: flex;
    flex-direction: column;
}

.main-film-section .posts,
.main-film-section .members {
    overflow-y: auto;
}

.main-film-section .posts-form {
    width: 100%;
}

.main-film-section .posts-form .input-group {
    background-color: rgba(0, 0, 0, .2);
}

.main-film-section .posts-form textarea {
    resize: none;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.main-film-section .posts-content {
    background-color: #fff;
    border-radius: .5rem;
    position: relative;
    float: left;
    margin-bottom: 1rem;
}

.main-film-section .posts-content.posts-content_me {
    background-color: rgba(100, 161, 157);
    float: right;
}

.main-film-section .posts-content .post-title {
    font-size: 65%;
    line-height: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
}

.main-film-section .posts-content.posts-content_me .post-title {
    left: auto;
    right: 0;
}

.main-film-section__chat-toggle {
    white-space: nowrap;
    text-transform: lowercase !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: white !important;
}

.btn {
    cursor: pointer;
}

/*
=========================
        Notifications
=========================
*/

.chat-require-action {
    color: white;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: rgba(0, 0, 0, .6) 2px 3px 5px;
}

.chat-require-action .buttons {
    margin-top: .5rem;
    justify-content: space-evenly;
}

/*
=========================
        Scrollbar
=========================
*/

::-webkit-scrollbar {
    width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: rgba(0, 0, 0, .6);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #64a19d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f837f;
}

/*
=========================
        Autocomplete
=========================
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.autocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}