/*
=========================
        General
=========================
*/

.static-background{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../../../images/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.input-group__with-icon {
    position: relative;
}

.input-group__with-icon .icon-content{
    position: absolute;
    right: 0;
    height: 100%;
    padding: 1.25rem;
    z-index: 9;
    display: block;
}

.navbar-nav .dropdown-menu.show{
    border: none;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(0,0,0,.3);
    border-radius: 0;
    transition: all 400ms ease-in-out;
}

.navbar-nav .dropdown-menu .dropdown-item{
    color: rgba(255,255,255,.7)
}

.navbar-nav .dropdown-menu .dropdown-item:hover{
    color: #fff;
    background-color: #64a19d;
}

@media(min-width: 992px)
{
    
    #mainNav.navbar-shrink .dropdown-menu{
        background-color: rgba(255,255,255,.9);
    }
    #mainNav.navbar-shrink .dropdown-item{
        color: #141414;
    }
        #mainNav.navbar-shrink .dropdown-item:hover{
        color: #fff;
    }
}

.float-navigation{
    position: fixed;
    z-index: 999;
    top: 50%;
    animation: slice 700ms linear infinite forwards;
}

.float-navigation.left{
    left: 10rem;
}

.float-navigation.right{
    right: 10rem;
}

.float-navigation__link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@keyframes slice{
    0%{transform: translateX(0px);}
    25%{transform: translateX(5px);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(0px);}
}

/*
=========================
        Slick
=========================
*/

.slick-carousel{
    padding: 2.5rem 5rem;
    position: relative;
}

.slick-carousel .slick-slide{
    padding: .5rem;
}

.slick-carousel .slick-arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    top: 3rem;
    bottom: 3rem;
    width: 3rem;
    background: rgba(0,0,0,.2);
    color: #64a19d;
    border: none;
    outline: none;
}

.slick-carousel .slick-arrow:hover{
    background-color: #64a19d;
    color: #fff;
}

.slick-carousel .slick-arrow.slic-prev{
    left: 0;
}

.slick-carousel .slick-arrow.slic-next{
    right: 0;
}

.slick-carousel__item-wrapper{
    transition: all 500ms ease-in-out;
    background-color: rgba(0,0,0,.3);
}

.slick-carousel__item-wrapper:hover{
    transform: scale(1.2);
    transition: all 500ms ease-in-out;
}

.slick-carousel__item-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}