@model DAO.Models.User

<section class="user-profile-section">

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12">
            <h4>User Profile</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Friends List</h4>
        </div>
    </div>
</div>
