
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-film-section">
    <div class="main-film-section__layout" id="filmLayout">
        <div class="main-film-section__video-wrapper">
            <video id="main-video" class="main-film-section__video" controls preload autoplay>
                <source src="/api/Video/@ViewBag.FilmId" type="video/mp4" />
                <source src="/api/Video/@ViewBag.FilmId/@ViewBag.EpisodeId" type="video/mp4" />
            </video>
            <div class="main-film-section__episodes">
                episode details here
            </div>
            

            <button class="btn btn-primary" id="testButton">Watch with friend</button>
        </div>
            @* <div class="media-controls">
                <button id="play-pause-button" class="play-pause-button" title="play">
                    <i class='fas fa-play'></i>
                </button>
        </div> *@
        <div class="main-film-section__chat-wrapper">
            <nav>
                <div class="nav nav-tabs" id="chatGroupManagement" role="tablist">
                    <a class="nav-item nav-link active" id="chat-content-tab" data-toggle="tab" href="#chat-content" role="tab" aria-controls="chat-content" aria-selected="true">Home</a>
                    <a class="nav-item nav-link" id="chat-group-member-tab" data-toggle="tab" href="#chat-group-member" role="tab" aria-controls="chat-group-member" aria-selected="false">Member</a>
                    <button class="nav-item nav-link ml-auto nav-hide" id="chatPanelHideButton" role="tab">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane h-100 fade show active" id="chat-content" role="tabpanel" aria-labelledby="chat-content-tab">
                    <div class="tab-content-wrapper mb-2">
                        <div id="messagesList" class="posts row no-gutters pl-2 pr-2">
                            
                        </div>
                            @* <div class="col-md-8 offset-md-4">
                                <div class="posts-content posts-content_me mt-2 p-2">
                                    something here
                                    <span class="post-title text-primary">test date</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="posts-content mt-2 m p-2">
                                    something
                                    <span class="post-title text-primary"> Other say, <span>from now</span></span>
                                </div>
                            </div> *@
                    </div>
                    <form class="form-inline posts-form w-100" id="postsForm">
                        <div class="form-group w-100">
                            <input type="hidden" id="filmId" name="FilmId" value="@ViewBag.FilmId">
                            <input type="hidden" id="groupName" name="GroupName" value="@ViewBag.GroupName">
                            <div class="input-group w-100 d-flex">
                                <textarea name="Message" style="flex-grow: 1" type="text" id="messageInput" classs="form-control" placeholder="Message...." rows="2" cols="30"></textarea>
                                <button class="btn btn-icon-primary">
                                    <i style="font-size: 1rem" class="far fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane h-100 fade" id="chat-group-member" role="tabpanel" aria-labelledby="chat-group-member-tab">
                    <div class="dropdown w-100">
                        <form autocomplete="off" action="/action_page.php">
                            <div class="autocomplete input-group w-100 d-flex input-group__with-icon mb-4">
                                <input id="groupFriendSuggestionAuto" type="text" name="friendSuggestions" class="form-control"
                                placeholder="Find a friend">
                                <button class="btn btn-icon-primary btn-sm ml-2 icon-content">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="tab-content-wrapper mb-2 text-white">
                        <div id="groupMemberList" class="members row no-gutters pl-2 pr-2">
                            <div class="col-12 member-of-group p-2 disabled">
                                <p class="m-0 member-name">Oops! You have to watch film alone! So sad!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

