
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <video controls="controls" preload="auto" width="800" height="600">
            <source src="/api/Video/FromFile/@ViewBag.FilmId" type="video/mp4" />
        </video>
    </div>
</div>